*{
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    height: 60px;
    align-items: center;
}

.logo{
    width: 100px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 20px;
}

.signin{
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}

.signin:hover{
    background-color: rgb(228, 228, 228);
}

.right-section{
    display: flex;
    gap: 20px;
    align-items: center;
}

.learn-more{
    background-color: black;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero{
    position: relative;
}

.hero-video{
    width: 100%;
}

.hero-content{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    color: white;
    line-height: 2.3;
}

.hero-title{
    font-weight: bold;
}

.hero-description{
    font-size: 30px;
    font-weight: bold;
}

.hero-content button{
    padding: 10px;
    border: none;
}

.hero-content button:hover{
    background-color: rgb(199, 199, 199);
}

.scrollable{
    overflow: scroll;
    display: flex;
    gap: 20px;
}

.scrollable img{
    width: 200px;
    height: 200px;
}