*{
    margin: 0;
}

.container{
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;  
}

.container img{
    width: 100%;
    transition: 0.7s;
}

.container .image-div{
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.header ul{
    list-style: none;
    display: none;
}

@media screen and (min-width: 430px){
    .container{
        justify-content: center;
    }
    .container img{
        width: 210px;
    }
}

.menu{
    display: inline;
}
.large{
    display: none;
}

@media screen and (min-width: 576px){
    .menu{
        display: none;
    }
    .large{
        display: inline;
    }
    .header ul{
        display: flex;
        gap: 20px;
    }
}

/* psudo class */
/* :<class> */

.container img:hover{
    scale: 2;
    rotate: -10deg;
}

/* Animation */

.animation{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes animation{
    from{
        left: 0px;
        background-color: red;
    }
    to{
        left: 40%;
        background-color: green;
    }
}