.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    grid-template-rows: 60px 300px 100px;
}

header{
    grid-column: 1/13;
    grid-row: 1/2;
    background-color: red;
}

nav{
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: green;
}

main{
    grid-column: 4/13;
    grid-row: 2/3;
    background-color: blue;
}

@media screen and (max-width: 576px) {
    .container{
        grid-template-rows: 60px 300px 100px;
    }
    nav{
        grid-column: 1/13;
    }
    
    main{
        grid-column: 1/13;
        grid-row: 3/4;
    } 
}

footer{
    grid-column: 1/13;
    grid-row: 4/5;
    background-color: yellow;
}