.loader{
    height: 6px;
    width: 6px;
    background-color: red;
    border-radius: 6px;
    position: relative;
    animation: bounce 3s linear infinite;
}

@keyframes bounce{
    0%,50%,100%{
        top: 0;
    }
    25%{
        top: -4px;
    }
    75%{
        top: 4px
    }
}

/* Gradient */

body{
    background-image: linear-gradient(to right, gray, white);
}

.gr{
    height: 50px;
    /* background-image: linear-gradient(to bottom left, black 20%, brown, red, orange, yellow, white); */
    /* background-image: radial-gradient(black 20%, brown, red, orange, yellow, white); */
    width: 50px;
    border-radius: 50px;
}

