.loader{
    height: 6px;
    width: 6px;
    background-color: red;
    border-radius: 6px;
    position: relative;
    animation: bounce 3s linear infinite;
}

@keyframes bounce{
    0%,50%,100%{
        top: 0;
    }
    25%{
        top: -4px;
    }
    75%{
        top: 4px
    }
}