/* position, display */

/* relative, absolute, fixed, sticky */
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    position: sticky;
    top: 50px;
}

.outer-box{
    width: 500px;
    height: 500px;
    background-color: green;
    /* position: relative; */
}

/* Display => Block, Inline, inline-block, flex, grid */

